<h4>Lo último en el <a href="{{ site.url }}/blog/">blog:</a></h4>

<article style="padding-top: 15px;">
    
{% for post in site.posts %}
<h4 class="title"><a href="{{ site.url }}/blog/{{ post.url }}" rel="prefetch">{{ post.title }}</a></h4>
            <div class="meta">
                <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%d %B, %Y" }}">{{ post.date | date: "%D" }}</time>
            </div>
<hr>    
{% endfor %}
</article>
