<div class="card mb-3">
  <img src="http://mip.umh.es/images/eees.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h3 class="card-title text-white">Máster Oficial del Espacio Europeo de Educación Superior</h3>
  </div>
</div>

<div class="card mb-3">
  <img class="card-img-top img-fluid" style="background-co: rgba(0,0,0,0.5);" src="{{ site.baseurl }}/images/guy.jpg" alt="Card image">
  <div class="card-body">
  <h4 class="card-title">Salidas profesionales</h4>
<ul style="margin-left: -1rem;">
  <li>Creador de contenidos online.</li>
  <li>Periodista especializado en datos.</li>
  <li>Diseñador de narrativas visuales informativas.</li>
  <li>Editor de redes sociales y otras plataformas de publicación.</li>
  <li>Emprendedor de nuevos medios y proyectos multimedia.</li>
  <li>Periodista especializado en marketing digital.</li>
</ul>
</div>
</div>

<div class="card mb-3" style="background-image: linear-gradient(45deg,#040505 0,#3D8863 100%);">
    <div class="card-body text-white">
        <h3 class="card-title text-white">Universidad con Sello de Excelencia Europea</h3>
    <p class="card-text">La Universidad Miguel Hernández de Elche consiguió el Sello de Excelencia Europea 500+ en 2004, y posteriormente fue renovada en dos ocasiones consecutivas, la primera en 2007 y la segunda en 2009.</p>
  </div>  
</div>

<hr>    

<h4 class="mb-3">Proyectos afines</h4>

<div class="card mb-3" style="background-image: linear-gradient(45deg,#040505 0,#5cb85c94 100%),url(https://localdatalab.umh.es/assets/images/elx-background.gif)">
  <a href="https://localdatalab.umh.es" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">
        <h3 class="card-title text-white">¿Conoces el <i>Local Data Lab</i>?</h3>
    <p class="card-text">Es un seminario integrado por profesionales, profesores y alumnos que producen historias locales apoyadas en datos</p>
    </div>
  </a>
</div>

<div class="card mb-3" style="background-image: linear-gradient(45deg,#040505 0,#31b0d578 100%);">
  <a href="https://mip.umh.es/blog/2019/05/10/nuevo-libro-informativo-television-innovar-formatos/" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">
        <h3 class="card-title text-white">Descarga gratis el libro <i>La crisis del informativo televisivo</i></h3>
    <p class="card-text">Contribuciones a las XIV Jornadas Internacionales de Innovación en Periodismo de la UMH</p>
    </div>
  </a>
</div>

<div class="card mb-3" style="background-image: linear-gradient(45deg,#040505 0,#ec971f 100%);">
  <a href="https://mip.umh.es/blog/2018/04/23/nuevo-libro-pistas-tencias-innovacion-periodismo/" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">
        <h3 class="card-title text-white">Descarga gratis el libro <i>Pistas y tendencias sobre innovación en periodismo</i></h3>
    <p class="card-text">Este libro recoge los mejores post publicados en el blog durante los últimos cinco años</p>
    </div>
  </a>
</div>


<div class="card mb-3" style="background-image: linear-gradient(45deg,#040505 0,#5cb85c 100%);">
  <a href="https://mip.umh.es/blog/2017/03/20/mobile-first-libro-jornadas-periodismo/" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">
        <h3 class="card-title text-white">Descarga gratis el libro <i>Mobile first: comunicación multipantalla</i></h3>
    <p class="card-text">Contribuciones a las XI Jornadas Internacionales de Innovación en Periodismo de la UMH</p>
    </div>
  </a>
</div>

<div class="card mb-3" style="background-image: linear-gradient(45deg,#040505 0,#d94fa2 100%);">
  <a href="http://mip.umh.es/blog/2016/10/26/manual-libro-como-innovar-periodismo/" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">
        <h3 class="card-title text-white">Descarga gratis el libro <i>Cómo innovar en periodismo</i></h3>
    <p class="card-text">Este libro reúne entrevistas a 27 profesionales que han pasado por el Máster</p>
    </div>
  </a>
</div>

<div class="card mb-3" style="background-image: linear-gradient(45deg,#040505 0,#0275d8 100%);">
  <a href="https://mip.umh.es/blog/2015/11/23/innovacion-libro-jornadas-periodismo/" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">
        <h3 class="card-title text-white">Descarga gratis el libro <i>Innovar en periodismo</i></h3>
    <p class="card-text">Contribuciones a las X Jornadas Internacionales de Innovación en Periodismo de la UMH</p>
    </div>
  </a>
</div>

<div class="card mb-3" style="background-color: #333; border-color: #333;">
  <a href="http://mip.umh.es/ranking/" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">
    <h3 class="card-title text-white">Ranking de Innovación Periodística 2014</h3>
    <p class="card-text">Descubre este informe que analiza las iniciativas periodísticas más innovadoras en España</p>
    </div>
  </a>
</div>

<div class="card mb-3" style="background-image: url(https://mip.umh.es/blog/images/cliche.jpg)">
    <a href="http://diccionariodelcliche.umh.es/" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">      
        <h3 class="card-title text-white">Consulta el <i>Diccionario del cliché</i></h3>
        <p class="card-text">Un proyecto de innovación docente desarrollado por profesores y estudiantes del Máster y el Grado en Periodismo de la Universidad Miguel Hernández</p>
    </div>
  </a>
</div>

<div class="card mb-3" style="background-image: linear-gradient(180deg, #52585d, #343a40)">
    <a href="http://periodistasdedatos.com/" target="_blank" style="hover: 15px;">
    <div class="card-body text-white">      
        <h3 class="card-title text-white">¿Quieres conocer a otros <i>periodistas de datos</i>?</h3>
        <p class="card-text">Este innovador proyecto de profesores del Máster te ofrece una lista de profesionales en España y Latinoamérica</p>
    </div>
  </a>
</div>

<hr>    
 
<h4>Lo último en el <a href="{{ site.url }}/blog/">blog:</a></h4>

<article style="padding-top: 15px;">
    
{% for post in site.posts limit: 6 %}
<h4 class="title"><a href="{{ site.url }}/blog{{ post.url }}" rel="prefetch">{{ post.title }}</a></h4>
            <div class="meta">
                <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%d %B, %Y" }}">{{ post.date | date: "%D" }}</time>
            </div>
<hr>    
{% endfor %}
</article>