<hr>
                    <article class="container text-xs-center">
                    <section>    
                    <h3 class="section-heading">Contacto</h3>
                    <p>Si tienes alguna duda o pregunta, ponte en contacto con nosotros cuando quieras y te llamaremos o te enviaremos un email tan pronto como sea posible</p>
                <div class="col-lg-6 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>965 222 415</p>
                </div>
                <div class="col-lg-6 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:mip@umh.es">mip@umh.es</a></p>
                </div>
                    </section>    
                    </article>


<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} 
        
        <nav>
            <a href="{{ site.inc.url }}">{{ site.inc.company }}</a> &middot;
            <a href="{{ site.baseurl }}/planestudios.html">Plan de estudios</a> &middot;
            <a href="{{ site.baseurl }}/profesores.html">Profesores</a> &middot;
            {% if site.inc.product_link %}<a href="{{ site.inc.product_link }}">Preinscripción</a> &middot; {% endif %}
            <a href="{{ site.baseurl }}/blog/">Blog</a>
        </nav>
        
        <nav class="social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}    
            <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>