<div class="p-3 mt-5 mb-3 bg-primary text-white rounded text-center">Solicita más información</div>
<div id="thank-you-message" class="collapse" role="alert">
  <strong>¡Muchas gracias!</strong> ¡Mensaje enviado correctamente!
</div>

<form id="contact-form">
<fieldset>
<div class="form-group">
  <input type="text" class="form-control" name="from_name" placeholder="Tu nombre y apellidos" required />
</div>
<div class="form-group">
  <input type="email" class="form-control" name="reply_to" placeholder="Tu correo" required />
</div>
<div class="form-group">
  <textarea name="message" class="form-control" placeholder="Tu mensaje" required></textarea>
</div>
  <button id="button" type="submit" value="Send" class="btn btn-primary btn-block">Enviar</button>
</fieldset>
</form>

<hr class="star-primary">