<h4>Solicita más información</h4>

<div id="thank-you-message" class="collapse" role="alert">
  <strong>¡Muchas gracias!</strong> Has enviado correctamente la información.
</div>

            <hr class="star-primary">
                <form action="http://getsimpleform.com/messages?form_api_token=ae1ae331cc4c2dc68fa536847966b841" method="post" netlify>
                <input type="hidden" name="redirect_to" value='{{ site.url }}{{ page.url }}#thank-you'/>
    
                    <form>
                    <fieldset>
                        <!-- Text input-->
                          <div class="form-group">
                            <input name="Nueva web" type="text" class="form-control" id="nombre" placeholder="Nombre y apellidos" required data-validation-required-message="Por favor, escribe tu nombre.">
                          </div>
                          <div class="form-group">
                            <input name="email" id="email" type="email" class="form-control" placeholder="email@correo.com" required data-validation-required-message="Escriba una dirección de correo válida.">
                          </div>
                          <div class="form-group">
                            <input name="telefono" id="movil" type="text" class="form-control" placeholder="Nº teléfono">
                          </div>
                            <div class="form-group">
                            <input name="ciudad" id="ciudad" type="text" class="form-control" placeholder="Ciudad (País)">
                          </div>
                            <div class="form-group">
                                <select class="form-control" name="modalidad">
                                  <option selected>Elige modalidad</option>
                                  <option value="online" id="online">Online</option>
                                </select>                          
                            </div>
                            <div class="form-group">
                            <input name="libre" id="libre" type="text" class="form-control" placeholder="¿Alguna duda en particular?">
                          </div>
    
                      <button id="button" class="btn btn-primary btn-block">Enviar</button>
                    </fieldset>
                    </form>
                </form>
                <hr class="star-primary">

<div class="card">
  <img class="card-img img-fluid" style="background-co: rgba(0,0,0,0.5);" src="{{ site.baseurl }}/images/guy.jpg" alt="Card image">
    <div class="card-block">

        <h4 class="card-title">Salidas profesionales</h4>
<ul style="margin-left: -1rem;">
  <li>Creador de contenidos online.</li>
  <li>Periodista especializado en datos.</li>
  <li>Diseñador de narrativas visuales informativas.</li>
  <li>Editor de redes sociales y otras plataformas de publicación.</li>
  <li>Emprendedor de nuevos medios y proyectos multimedia.</li>
  <li>Periodista especializado en marketing digital.</li>
</ul>

</div>

</div>

<div class="card card-inverse" style="background-image: linear-gradient(45deg,#040505 0,#0275d8 100%);">
  <a href="{{ site.baseurl }}/preinscripcion.html" target="_blank" style="hover: 15px;">
    <div class="card-block">
        <h3 class="card-title">Plazas limitadas</h3>
    <p class="card-text">Infórmate aquí del plazo de inscripción para la próxima edición del máster a distancia en octubre de 2018</p>
    </div>
  </a>
</div>

<div class="card">
  <div class="card-header">
    Educación Superior Europea
  </div>
  <div class="card-block">
    <h4 class="card-title">Título Oficial</h4>

    <p class="card-text">Una vez culminado el curso obtendrás un Título Oficial de Máster por la Universidad Miguel Hernández de Elche (UMH), reconocido por el Ministerio de Educación y válido a nivel europeo.</p>
  </div>
</div>
