<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Máster Universitario en Innovación en Periodismo - Universidad Miguel Hernández</title>
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt }}" />
<meta property="og:description" content="{{ page.excerpt }}" />
{% else %}
<meta name="description" content="Especialízate en las claves y las técnicas del periodismo más innovador con este máster universitario 100% online con asignaturas actualizadas, profesores de los medios más innovadores y formación sobre nuevas narrativas, periodismo de datos, redes sociales, mediante el desarrollo de un proyecto periodístico propio. Compatible con prácticas curriculares y/o trabajo propio gracias a la flexibilidad y adaptabilidad de las clases en vídeo." />
<meta property="og:description" content="Especialízate en las claves y las técnicas del periodismo más innovador con este máster universitario 100% online con asignaturas actualizadas, profesores de los medios más innovadores y formación sobre nuevas narrativas, periodismo de datos, redes sociales, mediante el desarrollo de un proyecto periodístico propio. Compatible con prácticas curriculares y/o trabajo propio gracias a la flexibilidad y adaptabilidad de las clases en vídeo." />
{% endif %}
{% if site.inc.google_font %}
<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">
{% endif %}
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ site.baseurl }}/images/{{ site.inc.logo }}" />
<link href="blog/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.inc.title }}{% endif %}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{% if page.cover_image %}{{ site.url }}/images/{{ page.cover_image }}{% elsif page.main_image %}{{ site.url }}/images/{{ page.main_image }}{% else %}{{ site.url }}/images/cover_image.webp{% endif %}" />
<meta property="og:image:alt" content="Máster Online en Innovación en Periodismo" />
<meta property="og:site_name" content="{{ site.inc.title }}" />
<meta property="og:type" content="website" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


    <!-- Email JS Service -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init({
              publicKey: "52HcKHByl7j4-hQbC",
            });
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // these IDs from the previous steps
                emailjs.sendForm('contact_service', 'contact_form', this)
                    .then(() => {
                        console.log('SUCCESS!');
                    }, (error) => {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
    <!-- Email JS Service -->  
    <script type="text/javascript">
      window.onload = (function(){
          if(window.location.hash == '#thank-you'){
          document.getElementById('thank-you-message').className = 'alert alert-success';
          }
          })
    </script>
</head>
