<div class="jumbotron jumbotron-fluid bg-overlay">
    <div class="container">
	    <div class="col-lg-7">
      <h1 class="mb-3">Máster en Innovación en Periodismo</h1>
      <h4 class="mb-3">Aprende las claves y las técnicas del periodismo más innovador con este <strong>máster 100% a distancia</strong></h4>

              <a class="btn btn-primary btn-primary btn-lg" target="_blank" href="https://estudios.umh.es/acceso/masters/preinscripcion/">Preinscripción</a>

        </div>
    </div>
</div>
