
<div class="card text-center">
  <div class="card-block">
    <p class="card-text">Cerrado el plazo inscripción:</p>
    <a href="http://mip.umh.es/preinscripcion.html" class="btn btn-primary btn-lg btn-block">Solicita la admisión</a>
  </div>
</div>

<div class="card card-inverse" style="background-image: linear-gradient(45deg,#040505 0,#3D8863 100%);">
    <div class="card-block">
        <h3 class="card-title">Universidad con Sello de Excelencia Europea</h3>
    <p class="card-text">La Universidad Miguel Hernández de Elche consiguió el Sello de Excelencia Europea 500+ en 2004, y posteriormente fue renovada en dos ocasiones consecutivas, la primera en 2007 y la segunda en 2009.</p>
    </div>
</div>
