
<!-- Formulario de Mailchimp

<div class="card text-center">
  <div class="card-block">
    <p class="card-text">Próxima edición: octubre 2018 </p>
<form action="https://umh.us5.list-manage.com/subscribe/post?u=75b8bda4a5f5eae9a009046a2&amp;id=39c53c6c14" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

    <div class="form-group">
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" required="required" class="form-control" placeholder="Escribe tu correo electrónico">
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_97f1bc02efa56031b67a2b00f_fc7b4ce646" tabindex="-1" value=""></div>
    
<button id="button" type="submit" class="btn btn-primary btn-block">Quiero inscribirme</button>

</form>
</div>
</div>
behavior. 
<div class="card bg-dark text-white">
  <img src="{{ site.baseurl }}/images/eees.jpg" class="card-img" alt="...">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>

<div class="card" style="background-image: linear-gradient(45deg,#040505 0,#3D8863 100%);">
    <div class="card-block">
    <h3 class="card-title">Universidad con Sello de Excelencia Europea</h3>
    <p class="card-text">La Universidad Miguel Hernández de Elche consiguió el Sello de Excelencia Europea 500+ en 2004, y posteriormente fue renovada en dos ocasiones consecutivas, la primera en 2007 y la segunda en 2009.</p>
    </div>
</div>

<div class="card" style="background-image: url('{{ site.baseurl }}/images/eees.jpg')">
    <div class="card-block">
        <h3 class="card-title">Máster Oficial del Espacio Europeo de Educación Superior</h3>
    </div>
  </a>
</div>
-->

