<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/{{ site.inc.logo }}" alt="Inicio">
            </a>
            <a href="{{ site.baseurl }}/planestudios.html">Plan de estudios</a>
            <a href="{{ site.baseurl }}/profesores.html">Profesores</a>
            <a href="{{ site.baseurl }}/preinscripcion.html">Preinscripción</a>
            <a href="{{ site.baseurl }}/blog/">Blog</a>
            <a href="tel:965222415"><i class="fa fa-phone fa-1x"></i> 965 222 415</a>
            <a href="mailto:mip@umh.es"><i class="fa fa-envelope-o fa-1x"></i> mip@umh.es</a>
            <label for="sidebar-checkbox" class="sidebar-toggle"></label>        
        </nav>
        <nav class="tagline">
            <a class="brand" href="http://www.umh.es/">
                <img class="pull-rigt" src="{{ site.baseurl }}/images/umh.png" alt="Inicio">
            </a>
        </nav>
    </header>
</section>