<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/{{ site.inc.logo }}" alt="Inicio">
            </a>
    <!-- Twitter 

            <a href="https://www.umh.es/contenido/Estudios/:tit_m_182/datos_es.html">Plan de estudios</a>
            <a href="{{ site.baseurl }}/preinscripcion.html">Preinscripción</a>

universal website tag code -->
            <a href="{{ site.baseurl }}/profesores.html">Profesores</a>
            <a href="{{ site.baseurl }}/blog/">Blog</a>
            <a href="https://calendar.app.google/vuQ9w5xuUrsymFZh9" target="_blank"><i class="fa fa-phone fa-1x"></i> ¿Hablamos?</a>
            <a href="mailto:mip@umh.es" target="_blank"><i class="fa fa-envelope-o fa-1x"></i> mip@umh.es</a>
            <label for="sidebar-checkbox" class="sidebar-toggle"></label>        
        </nav>
        <nav class="tagline">
            <a class="brand" href="http://www.umh.es/">
                <img class="pull-rigt" src="{{ site.baseurl }}/images/umh.png" alt="Inicio">
            </a>
        </nav>
    </header>
</section>