<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/{{ site.inc.logo }}" alt="Inicio">

            </a>
            <a href="{{ site.baseurl }}/planestudios.html">Plan de estudios</a>
            <a href="{{ site.baseurl }}/profesores.html">Profesores</a>
            <a href="{{ site.baseurl }}/preinscripcion.html">Preinscripción</a>
            <a href="{{ site.baseurl }}/blog/">Blog</a>

            <label for="sidebar-checkbox" class="sidebar-toggle"></label>        
        </nav>
    </header>
</section>
