.jumbotron {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,1.2) 100%), url(../images/porta.jpg);
  background-size: cover;
  background-position: center center;
  text-align: left;
   h1 {
    font-weight:600;
    line-height: 1.2;
  }
}


.bd-pageheader {
  padding: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background-image: linear-gradient(45deg,#040505 0,#0275d8 100%);

  .container {
    position: relative;
  }

  h1 {
    font-weight:600;
    color: #fff;
  }

  h3 {
    color: #fff;
  }
    
}

.bd-subheader {
  padding: 2rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(45deg,#040505 0,#0275d8 100%);

    .container {
    position: relative;
  }

  h1 {
    font-weight:normal;
    color: #fff;
  }

  h3 {
    color: #fff;
  }
    
}
