<!DOCTYPE html>
<html>

{% include _head.html %}

<body class="layout-reverse">

{% include _nav.html %}

{% include _sidebar.html %}

<div class="wrap">
    
{% include _hero.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <p class="lead text-xs-center">Aprende las claves y las técnicas del periodismo más innovador con este <strong>máster 100% a distancia</strong></a></p>
        
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9JZ1RkBvI4A" allowfullscreen></iframe>
</div>
            <hr>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C6lMBRsI9i8" allowfullscreen></iframe>
  </div>

            <hr>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w0rfCeBNBh8" allowfullscreen></iframe>
</div>
            <hr>

            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card card-inverse" style="background-color: #0275d8; border-color: #333;">
                        <div class="card-block">
                            <p class="card-text text-xs-center">Modalidad a distancia · <i class="fa fa-desktop" aria-hidden="true"></i></p>
                        </div>
                        <ul class="list-group list-group-flush card-inverse">
                        <li class="list-group-item">Duración: Octubre 2018 - Julio 2019</li>
                        <li class="list-group-item"><a href="http://mipx.edx.umh.es/" target="_blank">Campus virtual</a></li>
                        </li>
                        <li class="list-group-item"><a href="http://umh.es/contenido/Estudios/:curso_182_O_1/datos_es.html" target="_blank">Plan de estudios</a></li>
                        <li class="list-group-item">Idioma de docencia: castellano</li>
                        <li class="list-group-item">Precio: 2.400€</li>
                        </ul>
                    </div>                
                </div>
            </div>

            <hr>

            <article>
                <section>   
                {{ content }}
                </section>
            </article>

    </div>
          
        <div class="col-lg-4 col-xs-12">
            {% include _inscribete.html %}
            {% include _form.html %}
            {% include _feed.html %}
        </div>

    </div>
</div>
    

    {% include _footer.html %}
</div>
    
    {% include _scripts.html %}


</body>
</html>
