<!DOCTYPE html>
<html>

{% include _head.html %}

<body class="layout-reverse">

{% include _nav.html %}

{% include _sidebar.html %}

<div class="wrap">
   
{% include _hero.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <h3 class="text-center mb-4">Título Oficial de la Universidad Miguel Hernández</H3>
                <div class="card">
                    <div class="card-header bg-light">
                        Ficha técnica
                    </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-desktop" aria-hidden="true"></i> · Enseñanza online</li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> · Inicio en octubre {% assign current_month = "now" | date: "%m" | plus: 0 %} {% assign current_year = "now" | date: "%Y" | plus: 0 %}{% if current_month > 10 %}{{ current_year | plus: 1 }}{% else %}{{ current_year }}{% endif %}</li>
                        <li class="list-group-item"><i class="fa fa-chalkboard-teacher"></i> · <a href="https://campus.umh.es/" target="_blank">Campus virtual</a></li>
                        <li class="list-group-item"><i class="fas fa-book-open"></i> · <a href="https://www.umh.es/contenido/Estudios/:tit_m_182/datos_es.html" target="_blank">Plan de estudios</a></li>
                        <li class="list-group-item"><i class="fas fa-globe-europe"></i> · Idioma de docencia: castellano</li>
                        <li class="list-group-item"><i class="fas fa-certificate"></i> · <a href="https://estudios.umh.es/files/2024/07/3.-Tasas-Master-curso-2024_2025_master-1.pdf" target="_blank">Tasas Oficiales</a></li>
                        <li class="list-group-item"><i class="fas fa-clock"></i> · Horario: <a href="https://calendar.google.com/calendar/embed?src=mip%40umh.es&ctz=Europe%2FMadrid" target="_blank">Google Calendar</a></li>
                        </ul>
                </div>
        
        <hr>

            <article>
                <section>   
                {{ content }}
                </section>
            </article>

        </div>
          
        <div class="col-lg-4 col-xs-12">
            {% include _inscribete.html %}
            {% include _form.html %}
            {% include _feed.html %}
        </div>

    </div>
    
</div>

    {% include _footer.html %}

</div>    
    {% include _scripts.html %}


</body>
</html>
