<!DOCTYPE html>
<html>

{% include _head.html %}

<body class="layout-reverse">

{% include _nav.html %}

{% include _sidebar.html %}

<div class="wrap">
    
{% include _hero.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <p class="lead text-xs-center">Aprende las claves y las técnicas del periodismo más innovador con este <strong>máster 100% a distancia</strong></a></p>
        
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card card-inverse" style="background-color: #0275d8; border-color: #333;">
                        <div class="card-block">
                            <p class="card-text text-xs-center">Modalidad a distancia · <i class="fa fa-desktop" aria-hidden="true"></i></p>
                        </div>
                        <ul class="list-group list-group-flush card-inverse">
                        <li class="list-group-item">Duración: Octubre 2019 - Junio 2020</li>
                        <li class="list-group-item"><a href="https://campus.umh.es/" target="_blank">Campus virtual</a></li>
                        </li>
                        <li class="list-group-item"><a href="http://mip.umh.es/planestudios.html" target="_blank">Plan de estudios</a></li>
                        <li class="list-group-item">Idioma de docencia: castellano</li>
                        <li class="list-group-item">Precio: 2.356€</li>
                        </ul>
                    </div>                
                </div>
            </div>

            <hr>

            <article>
                <section>   
                {{ content }}
                </section>
            </article>

    </div>
          
        <div class="col-lg-4 col-xs-12">
            {% include _inscribete.html %}
            {% include _form.html %}
            {% include _feed.html %}
        </div>

    </div>
</div>
    

    {% include _footer.html %}
</div>
    
    {% include _scripts.html %}


</body>
</html>
