<!DOCTYPE html>
<html>

{% include _head.html %}

<body class="layout-reverse">

{% include _nav.html %}

{% include _sidebar.html %}

<div class="wrap">
        
    <div class="bd-pageheader">
      <div class="container">
        <h1 class="strong">Máster Online en Innovacion en Periodismo</h1>
        <h3><i class="fa fa-desktop" aria-hidden="true"></i> · Docencia 100% en línea · Tutor personal</h3>
      </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xs-12">
            <p class="lead text-xs-center">Consigue tu <strong>Título Oficial de Máster</strong> sin moverte de tu país con vídeos a la carta y encuentros en directo con profesionales de prestigio</p>

            <div class="card text-center">
  <div class="card-block">
    <a href="http://mip.umh.es/preinscripcion.html" class="btn btn-primary btn-lg btn-block">Solicita la admisión</a>
  </div>
</div>


<div class="card card-inverse">
  <img class="card-img img-fluid" src="{{ site.baseurl }}/images/blonde.jpg" alt="Card image">
    <div class="card-img-overlay">
  </div>

</div>

            <hr class="star-primary">

            <article>
                <section>   
                {{ content }}
                </section>
            </article>

<!--This is a comment. 

<div class="bd-partner">

<img src="{{ site.baseurl }}/images/partner/elconfi.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/partner/eldiario.png" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/partner/eslang.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/partner/informacion.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/partner/tuyyoque.png" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/partner/umh.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/partner/umh.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/alumni/weblogsl.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/alumni/Luis Álvarez.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/alumni/Luis Álvarez.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">
<img src="{{ site.baseurl }}/images/alumni/Luis Álvarez.jpg" style="width: 55px; height: 55px;" alt="Entidad colaboradora">

</div>        
Comments are not displayed in the browser-->

</div>
          
<div class="col-lg-4 col-xs-12">
<div class="card card-inverse" style="background-image: url('{{ site.baseurl }}/images/eees.jpg')">
    <div class="card-block">
        <h3 class="card-title">Maestría Oficial del Espacio Europeo de Educación Superior</h3>
    </div>
  </a>
</div>

<div class="card card-inverse" style="background-image: linear-gradient(45deg,#040505 0,#0275d8 100%);">
  <a href="{{ site.baseurl }}/preinscripcion.html" target="_blank" style="hover: 15px;">
    <div class="card-block">
        <h3 class="card-title">Plazas limitadas</h3>
    <p class="card-text">Envía tu candidatura cuanto antes. Inicio: 3 noviembre 2017
</p>
    </div>
  </a>
</div>
<h4>Solicita información</h4>

<div id="thank-you-message" class="collapse" role="alert">
  <strong>¡Muchas gracias!</strong> Has enviado correctamente la información.
</div>

            <hr class="star-primary">
                <form action="http://getsimpleform.com/messages?form_api_token=ae1ae331cc4c2dc68fa536847966b841" method="post">
                <input type="hidden" name="redirect_to" value='{{ site.url }}{{ page.url }}#thank-you'/>
    
                    <form>
                    <fieldset>
                        <!-- Text input-->
                          <div class="form-group">
                            <input name="Onlanding" type="text" class="form-control" id="nombre" placeholder="Nombre y apellidos" required data-validation-required-message="Por favor, escribe tu nombre.">
                          </div>
                          <div class="form-group">
                            <input name="email" id="email" type="email" class="form-control" placeholder="email@correo.com" required data-validation-required-message="Escriba una dirección de correo válida.">
                          </div>
                          <div class="form-group">
                            <input name="telefono" id="movil" type="text" class="form-control" placeholder="Nº teléfono">
                          </div>
                            <div class="form-group">
                            <input name="ciudad" id="ciudad" type="text" class="form-control" placeholder="Ciudad (País)">
                          </div>
                            <div class="form-group">
                                <select class="form-control" name="modalidad">
                                  <option selected>Elige modalidad</option>
                                  <option value="presencial" id="presencial">Presencial</option>
                                  <option value="online" id="online">Online</option>
                                </select>                          
                            </div>
                            <div class="form-group">
                            <input name="libre" id="libre" type="text" class="form-control" placeholder="¿Alguna duda en particular?">
                          </div>
    
                      <button id="button" class="btn btn-success btn-block">Enviar</button>
                    </fieldset>
                    </form>
                </form>
                <hr class="star-primary">


<div class="card">
  <img class="card-img img-fluid" style="background-co: rgba(0,0,0,0.5);" src="{{ site.baseurl }}/images/guy.jpg" alt="Card image">
    <div class="card-block">

        <h4 class="card-title">Salidas profesionales</h4>
<ul style="margin-left: -1rem;">
  <li>Creador de contenidos online.</li>
  <li>Periodista especializado en datos.</li>
  <li>Diseñador de narrativas visuales informativas.</li>
  <li>Editor de redes sociales y otras plataformas de publicación.</li>
  <li>Emprendedor de nuevos medios y proyectos multimedia.</li>
  <li>Periodista especializado en marketing digital.</li>
</ul>

</div>

</div>

<div class="card">
  <div class="card-header">
    Educación Superior Europea
  </div>
  <div class="card-block">
    <h4 class="card-title">Título Oficial</h4>

    <p class="card-text">Una vez culminado el curso obtendrás un Título Oficial de Máster por la Universidad Miguel Hernández de Elche (UMH), reconocido por el Ministerio de Educación y válido a nivel europeo.</p>
  </div>
</div>

<div class="card card-inverse" style="background-image: linear-gradient(45deg,#040505 0,#3D8863 100%);">
    <div class="card-block">
        <h3 class="card-title">Universidad con Sello de Excelencia Europea</h3>
    <p class="card-text">La Universidad Miguel Hernández de Elche consiguió el Sello de Excelencia Europea 500+ en 2004, y posteriormente fue renovada en dos ocasiones consecutivas, la primera en 2007 y la segunda en 2009.</p>
    </div>
</div>


        </div>
      </div>
    </div>
    

    {% include _footer.html %}
    </div>
    
    {% include _scripts.html %}


</body>
</html>
